body {
  font-family: "Constantia", sans-serif;
  margin: 200;
  padding: 0;
  text-align: center;
}
h1 {
    font-family: "Constantia Reguler", Georgia, serif;
    font-size: 36px;
}
h2 {
    font-family: "Constantia", Georgia, serif;
    font-size: 24px;
}
p {
    font-family: "Constantia Reguler", Georgia, serif;
    font-size: 14px;
}
.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slides {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}
.slides img {
  width: 200px;
  height: 250px;
  object-fit: contain;
}
.nav-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}
.nav-buttons button {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
