h1 {
  font-family: "Macking", Georgia, serif;
  font-size: 36px;
}
h2 {
  font-family: "Constantia", Georgia, serif;
  font-size: 24px;
}
p {
  margin-bottom: 5px;
}
body {
  font-family: "Constantia", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #0f0f0f;
  background-color: #ffeeee;
  cursor: none;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
.left-text {
  font-size: 16px;
  text-align: left;
}
.right-text {
  font-family: "Inter";
  font-size: 35px;
  font-weight: 450;
  letter-spacing: -1px;
  max-width: 585px;
  text-align: left;
}

.custom-cursor {
  width: 50px;
  height: 50px;
  background-color: #ffeeee; /* #f4f1ee; */
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  mix-blend-mode: difference;
}
.drag-cursor {
  width: 100px;
  height: 100px;
  background-color: #ffeeee;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  mix-blend-mode: difference;
}
.wrapper {
  position: relative;
}

@keyframes glitch {
  0% {
    text-shadow: 3px 3px #5d0505, -3px -3px #67998b;
  }
  25% {
    text-shadow: -3px -3px #5d0505, 3px 3px #67998b;
  }
  50% {
    text-shadow: 3px -3px #5d0505, -3px 3px #67998b;
  }
  75% {
    text-shadow: -3px 3px #5d0505, 3px -3px #67998b;
  }
  100% {
    text-shadow: 3px 3px #5d0505, -3px -3px #67998b;
  }
}
/* @font-face {
  font-family: "x";
  src: url("x/x")
    format("truetype");
} */
.glitch {
  font-family: "Inter", sans-serif;
  font-size: 25vw;
  font-variation-settings: "wght" 520;
  /* font-weight: 500; */
  letter-spacing: -25px;
  color: #0f0f0f;
  text-transform: uppercase;
  text-transform: uppercase;
  line-height: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
  /* animation: glitch 10s infinite alternate; */
  /* filter: blur(1px); */
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 13px 22px;
  background-color: #0f0f0f;
  color: #ffeeee;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-radius: 22px;
  border: none;
  text-decoration: none;
  gap: 6px;
  transition: width 0.3s ease, padding 0.3s ease;
  width: 120px;
  min-width: 120px;
  cursor: pointer;
  overflow: hidden;
}
.button:hover {
  width: 150px;
  padding-right: 30px;
  background-color: #0f0f0f;
}
.button svg {
  width: 26px;
  height: 13px;
}

.content {
  position: relative;
  z-index: 5;
  padding-top: 23vw;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.slides {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}
.slides img {
  width: 200px;
  height: 250px;
  object-fit: contain;
}
@keyframes scrollLoop {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.container {
  display: flex;
  width: 200px;
  height: 250px;
  gap: 1rem;
  border-radius: 25px;
  margin-top: 100px;
}
.container img {
  border-radius: 15px;
}
.horizontal-scroll {
  width: 100%;
  overflow-x: scroll;
  animation: scrollLoop linear infinite;
  scrollbar-color: transparent transparent;
}
.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.scroll-section {
  height: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.card {
  position: sticky;
  top: 20%;
  text-align: left;
  width: 100%;
  height: 90%;
  padding: 2rem;
  background-color: #0f0f0f;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.card.hidden {
  transform: translateY(50px);
  opacity: 0;
}
.card.visible {
  transform: translateY(0);
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}
